$primaryColor: #FF3636;

.not-found-box {
    padding-top: 30vh;
}


.not-found-box h2 {
    color: $primaryColor;
    margin-bottom: 30px;
}

.not-found-box p {
    color: white;
    font-style: normal;
}