.ant-btn.login-form-button {
    text-align: left;
}

.ant-btn.facebook {
    text-align: left;
    color: white;
    border-color: #3f5b9a;
    background-color: black;
}

.ant-btn.google {
    text-align: left;
    color: white;
    border-color: lightcoral;    
    background-color: black;    
}

.ant-btn.github {
    text-align: left;
    color: white;
    border-color: #6e5494;    
    background-color: black;    
}

.ant-btn.instagram {
    text-align: left;
    color: white;
    border-color: #3f729b;    
    background-color: black;    
}

.ant-btn.forty-two {
    text-align: left;
    color: white;
    border-color:  seagreen;
    background-color: black;
}