// .ant-layout-content {
//     background-image: url(http://pm1.narvii.com/5902/25c1969d21dd2baaaaec95dba1e8ec510fe91c3f_hq.jpg);    
// }

.forgotten-page h2, .forgotten-page p, .forgotten-form {
    margin-bottom: 30px;
    text-align: center;
}

.forgotten-page .input-wrapper {
 margin: 15px;
}